body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: Apple Chancery, cursive, Helvetica, sans-serif;
  background-color: #9eefe3;
}
/* header */
.header h1 {
  position: relative;
  top: 18px;
  font-size: 3.5em;
  text-align: center;
}
.header h2 {
  position: relative;
  top: 18px;
  font-size: 2.5em;
  font: 400 50px/1.7 'Arizonia', Helvetica, sans-serif;
  text-align: center;
}
.section {
    height:auto;
    margin-top: 0;
    background-color:#40d6b6;
    display: block;
    font: 28px Apple Chancery, cursive, Helvetica, sans-serif;
    padding: 24px 15px;
    text-align: center;
    }
.contacts {
   background-color:#acffd4;
    }
.list-group list-group-flush {
   background-color:#acffd4;
}
.col-sm {
  display: 10%;
  margin-top: 20px;
  float: right;
  max-width: : 100px
}

p {
  font-size: 1.8em;
}
