body {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 28px;
  font-family: Apple Chancery, cursive, Helvetica, sans-serif;
}

/*two top icon buttons*/
.btn-group button {
  background-color: #23a390;
  border: 1px solid white;
  color: black ;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  width: 50%;
  font-family: Apple Chancery, cursive, Helvetica, sans-serif;
  font-size: 15px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Prevent double borders */
.btn-group button:not(:last-child) {
  border-right: none;
}

/* background color on hover */
.btn-group button:hover {
  background-color: #9eefe3;
}

/* logo */
.header img {
  float: left;
  width: 160px;
  height: auto;
  padding-left: 5%;
}

/* header */
.header h1 {
  position: relative;
  top: 18px;
  font-size: 100px;
  text-align: center;
}

/* stycky navbar */
ul {
  list-style-type: none;
  border: 1px solid white;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #23a390;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
/* background color on hover */
li a:hover {
  background-color: #9eefe3;
}


/*  header that should go under the navbar  "discover hayling"
  code {
  background: #23a390;
  color: #fff;
  display: block;
  font: 50px Apple Chancery, cursive, Helvetica, sans-serif;;
  padding: 24px 15px;
  text-align: center;

}*/

/* homepage main picture*/
.home_pic {
  height: auto;
  position: static;
  text-align: center;
  color: white;
}

/* homepage picture_text */
.home_pic_txt {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* homepage main text*/
.home_txt {
  height:auto;
  margin-top: 0;
  background-color:#23a390;
  display: block;
  font: 28px Apple Chancery, cursive, Helvetica, sans-serif;;
  padding: 24px 15px;
  text-align: center;

}
/* things to do section*/
.section {
  height:auto;
  margin-top: 0;
  background-color:#40d6b6;
  display: block;
  font: 28px Apple Chancery, cursive, Helvetica, sans-serif;;
  padding: 24px 15px;
  text-align: center;
}
