body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Cardo', Georgia, Times, serif;
  background-color: #9eefe3;
}

/*two top icon buttons*/
.btn-group button {
  margin: 0px;
  background-color: #9eefe3;
  border: 1px solid white;
  color: black ;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  width: 50%;
  font-family: font-family: 'Cardo', Georgia, Times, serif;
  font-size: 15px;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Prevent double borders */
.btn-group button:not(:last-child) {
  border-right: none;
}

/* background color on hover */
.btn-group button:hover {
  background-color: #23a390;
}

.logo ul{
  list-style-type: none;
  /*border: 1px solid white;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9eefe3;
  font-family: 'Cardo', Georgia, Times, serif;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.logo {
  margin-top: 5px;
  margin-left: 5px;

}

.logo li {
  float: right;

}

.logo li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
/* background color on hover */
.logo li a:hover {
  background-color: #23a390;

}

/* header */
h1 {


  font-size: 4em;

  text-align: center;
  display: block;
}

h2 {
  /*background: #23a390;
  color: #fff;*/
  display:inline;
  /*font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;*/
  font: 2em 'Arizonia', Helvetica, sans-serif;
  padding: 24px 15px;
  text-align: left;
}

header h3 {
  position: relative;
  top: 18px;
  font-size: 2.5em;
  font: 400 50px/1.7 'Arizonia', Helvetica, sans-serif;
  text-align: center;
}

.section {
    height:auto;
    margin-top: 0;
    background-color:#23a390;
    display: block;
    font: 2em font-family: 'Cardo', Georgia, Times, serif;
    padding: 10px 10px;
    text-align: center;
    }
.contacts {
   background-color:#acffd4;
    }
.list-group list-group-flush {
   background-color:#acffd4;
}
.col-sm {
  display: 10%;
  margin-top: 20px;
  float: right;
  max-width: : 100px
}

p {
  font-size: 1.8em;
}
