body {

  background-color: #9eefe3;
  font-size: 20px;
  font-family: 'Cardo', Georgia, Times, serif;
  line-height: 25px;
}

/*two top icon buttons*/
.btn-group button {
  margin: 0px;
  background-color: #9eefe3;
  border: 1px solid white;
  color: black ;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  width: 50%;
  font-family:  'Cardo', Georgia, Times, serif;
  font-size: 15px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Prevent double borders */
.btn-group button:not(:last-child) {
  border-right: none;
}

/* background color on hover */
.btn-group button:hover {
  background-color: #23a390;
}
ul {
  list-style-type: none;
  /*border: 1px solid white;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9eefe3;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.logo {
  margin-top: 5px;
  margin-left: 5px;

}

li {
  float: right;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
/* background color on hover */
li a:hover {
  background-color: #23a390;


}
main{

  margin-left: 100px;
  margin-right: 100px;
}
header  {
  /*background: #9eefe3;*/
  color: black;
  text-align: center;
  height:auto;
  margin-top: 0;
  background-color:#23a390;
  /*font-size:28px*/
  display: block;
}

header h2{
  /*background: #23a390;
  color: #fff;*/
  display:inline;
  /*font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;*/
  font: 400 4.4em/1.3 'Arizonia', Helvetica, sans-serif;
  padding: 24px 15px;
  text-align: center;
}
header h1 {
  /*background: #23a390;
  color: #fff;*/
  display: inline;
  font: 3.4em 'Cardo', Georgia, Times, serif;
  padding: 24px 15px;
  text-align: center;
}
/* homepage main picture*/
.home_pic {
  height: auto;
  position:static;
  text-align: center;
  color: white;
}

/*/// home pics gallery ////*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position:static;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* homepage main text*/
.home_txt {
  height:auto;
  margin-top: 0;
  background-color:#23a390;
  /*font-size:28px*/
  display: block;
  font: 28px 'Cardo', Georgia, Times, serif;
  padding: 24px 15px;
  text-align: center;

}
/* things to do section*/
.section1 {
  height:auto;
  margin-top: 0;

  background-color:#40d6b6;*/
  display: block;
  font: 400 50px/1.2 'Arizonia', Helvetica, sans-serif;
  padding: 50px 15px;
  text-align: center;
}
.container {

  position: relative;
  width: 100%;
  max-width: 400px;


}

.container img {
  width: 100%;
  height: auto;

}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  box-shadow: 10px 10px 5px #89a8ab;
  text-align: bottom, center;
  font: 400 35px/1.3 'Arizonia', Helvetica, sans-serif;
  background-color: white;
  padding: 20px;

}

.section2 {
  height:auto;
  margin-top: 0;
  background-color:#23a390;
  display: block;
  font: 100 50px/1.7 'Arizonia', Helvetica, sans-serif;
  padding: 50px 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  font-size: 30px;
  font-family: 'Arizonia', Helvetica, sans-serif;
}

.left {
  margin-top:  50px;
  width: 25%;
  background-color:white;
}

.left img{
  height: 150px;
}

.right {
  width: 75%;
}
.right P{
  font-family: 'Cardo', Georgia, Times, serif;
   font-size: 20px;
   line-height: 25px;
}

.right i {
  font-family: 'Cardo', Georgia, Times, serif;
   font-size: 20px;
   line-height: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* whats on section*/
.section3 {
  height:auto;
  margin-top: 10px;

  background-color:#40d6b6;
  display: block;
  font-family: 'Cardo', Georgia, Times, serif;
   font-size: 20px;
   line-height: 25px;
}
h4 {
  font: 100 50px/1.7 'Arizonia', Helvetica, sans-serif;
  background-color:#40d6b6;
}
/*newsletter subscribe form*/


.container1 {
  padding: 20px;
  background-color: #40d6b6;
}

input[type=text], input[type=submit] {
  width: 40%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #23a390;
  color: black;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  background-color: #9eefe3
}
.socialmedia{
  background-color: #9eefe3

}
/* Style socialmedia buttons */
.smicon {
  margin: 0px;
  background-color: #9eefe3;
  border: 1px solid #9eefe3;
  color: black ;
  padding: 30px 24px;
  cursor: pointer;
  float:  none;
  font-size: 25px;

}

.smicon:hover {
  background-color: #23a390;
}
